@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

/* Tailwind Base Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Body and HTML Styles */
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Sora', sans-serif;
  }

  /* Ensure app container has a minimum width */
  #app {
    @apply min-w-[320px];
  }

  /* Typography Scale */
  h1 {
    @apply text-[3rem] sm:text-[4rem] lg:text-[2.5rem] xl:text-[2.75rem] 2xl:text-[3rem] 3xl:text-[2.75rem] font-bold leading-[55px];
  }

  h2 {
    @apply text-[1.5rem] sm:text-[2rem] lg:text-[2.5rem]  xl:text-[2.75rem] font-bold leading-[33px] xl:leading-[55px];
  }

  h3 {
    @apply usm:text-[1.5rem] 3xsm:text-[1.75rem] 2xsm:text-[1.85rem] md:text-[2rem] lg:text-[2.5rem] leading-none;
  }

  h4 {
    @apply text-[1.25rem] sm:text-[1.5rem] md:text-[1.75rem] lg:text-[1.5rem] font-bold  leading-tight;
  }

  h5 {
    @apply text-[1rem] md:text-[1.25rem] lg:text-[1.5rem] leading-snug;
  }

  h6 {
    @apply text-[1rem] leading-snug;
  }

  /* Paragraphs, Lists, and Small Text */
  p {
    @apply text-[1.1rem] leading-6;
  }

  ul, li {
    @apply text-[0.5rem];
  }

  a {
      @apply text-[1rem] ;
  }




  small {
    @apply text-sm md:text-base;
  }

  strong {
    @apply font-bold;
  }

  /* Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 20px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: #1f2224;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #E9523D;
    border: solid 2px #E9523D;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #E9523D;
  }

  /* Firefox Scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: #E9523D #1f2224;
  }
}

/* Mobile-Specific Styles */
@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
